aiohttp
crontab
cryptography
Flask
Flask-Admin
Flask-BasicAuth
Flask-Login
freeopcua
influxdb
Jinja2
paho-mqtt
psutil
pymodbus
pytz
pywin32; sys_platform == 'win32'
PyYAML
pyzmq
schema
six==1.11.0
waitress
Werkzeug